* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-wrap:wrap ;
}

.players-scores-container{
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   
.players-scores-container h2{
    margin:  0 5% 0 5% ;
}

.abilities-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.318)

}
.ability-icon{
    font-size: 22px;
    border: #000 solid;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    padding: 7px;
}

canvas {
    border: 2px solid #fff;
    background-color: #1f1f1f;
    margin-bottom: 20px;
}
